/* --text: #fcfcfd;
--background: #0a0b10;
--primary: #0434f4;
--secondary: #161822;
--accent: #67729e; */

body {
    font-family: 'Young Serif', serif;
    margin: 0;
    height: 100vh;
    color: #fcfcfd;
    background-color: #0a0b10;
    display: flex;
    flex-direction: column;
    background-image: url('images/Wright_Anything_Agency.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.navBar,
a {
    color: #FFFFFF;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    /* background-color: #1F2937; */
    background-color: #0a0b10;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 25px;
}

a {
    text-decoration: none;
}

.containerTitle,
.containerAttorneys,
.containerTestimony {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.containerTitle {
    background-color: rgb(10,11,16, 0.95);
    flex-direction: row;
}

.containerAttorneys {
    background-color: #fcfcfd;
    color: #161822;
    flex-direction: column;
    padding: 30px;
}

.containerTestimony {
    background-color: #67729e;
    color: #161822;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 0;
}

.title,
.image {
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    z-index: 1;
}

.title {
    align-items: flex-start;
    width: 400px;
}

.title p{
    color:#67729e;
}

.title button {
    font-family: 'Young Serif', serif;
    background-color: #0434f4;
    border: none;
    color: #fcfcfd;
    padding: 10px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms;
    align-self: center;
}

.title button:hover {
    color: #161822;
    background-color: #fcfcfd;
    transition: 100ms;
}

.serieslogo {
    width: 500px;
}

.wright {
    margin: 0 0 0 -700px;
    padding: 30px;
    width: 600px;
    height: 500px;
    overflow: hidden;
    filter: brightness(0) invert(1);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 200px;
    background-color:#0a0b10;
}

.attorneyRow {
    gap: 25px;
}

.containerAttorneys h1 {
    color: #161822;
    margin: 25px;
}

.attorney {
    background-color:#67729e;
    color:#161822;
    margin-bottom: 25px;
    width: 300px;
    padding: 25px;
    height: 300px;
    align-items: center;
    border-radius: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.attorneyProfile {
    align-items: flex-start;
    width: 115px;
    height: 115px;
}

.name {
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

.testimony {
    padding: 200px;
    font-size: 30px;
    font-style: italic;
}

.testifier {
    align-self: flex-end;
    font-weight: bold;
    font-style: normal;
}